Repository modm-io/modm, pull requests merged in 2022-04, with the labels that each got.

#849 [build] Fix relative openocd paths when relocating outpath
  tools/build_script_generator/module.lb
  tools/build_script_generator/openocd.cfg.in
Labels: advanced 🤯, toolchain ⚙️

#848 [rp2040] Implement IRQ handlers for GPIO and QSPI
  README.md
  examples/rp_pico/interrupt/main.cpp
  examples/rp_pico/interrupt/project.xml
  src/modm/platform/extint/rp/int_handler.cpp.in
  src/modm/platform/extint/rp/int_handler.hpp.in
  src/modm/platform/extint/rp/int_priority.hpp
  src/modm/platform/extint/rp/module.lb
  src/modm/platform/extint/rp/module.md
  src/modm/platform/gpio/rp/base.hpp.in
  src/modm/platform/gpio/rp/module.lb
Labels: feature 🚧, example 🔑

#850 MAX31855 driver
  README.md
  examples/nucleo_g474re/max31855/main.cpp
  examples/nucleo_g474re/max31855/project.xml
  src/modm/driver/temperature/max31855.hpp
  src/modm/driver/temperature/max31855.lb
  src/modm/driver/temperature/max31855_impl.hpp
Labels: feature 🚧, example 🔑

#853 Fix STM32H7 RCC clock output
  src/modm/platform/clock/stm32/rcc.hpp.in
Labels: fix 💎, ci:hal
